<!-- Popup Select branch -->
<p-dialog header="Chọn chi nhánh ở gần bạn" [(visible)]="visibleChangeBranchDialog"
          [appendTo]="'body'" [modal]="true" [style]="{width: '480px'}"
          (onHide)="toggleVisibleChangeBranchDialog(false)">
  <ng-template pTemplate="content">
    <form [formGroup]="formGroupBranch" autocomplete="off">
      <div *ngFor="let settingControl of settingControlsBranch">
        <dynamic-form [formGroup]="formGroupBranch" [settingControl]="settingControl"
                      [settingControls]="settingControlsBranch" [isSubmit]="isSubmitBranchDialog">
        </dynamic-form>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button class="btn btn-secondary me-3 p-2" (click)="toggleVisibleChangeBranchDialog(false)">Huỷ</button>
    <button class="btn btn-primary p-2" (click)="onSubmitChangeBranchDialog()">Chọn</button>
  </ng-template>
</p-dialog>

<section class="header d-flex justify-content-center">
  <div class="header-container container-fluid col-8 d-flex justify-content-between">
    <div role="button" class="header-left d-flex me-2">
      <div class="header-logo d-inline-flex justify-content-center align-items-center me-4">
        <span class="app-icon app-icon-logo me-2"></span>
        <span class="header-title d-flex flex-column" routerLink="/">
          <span class="header-title__up">NHÀ THUỐC</span>
          <span>HAPPY CARE</span>
        </span>
      </div>
      <div class="header-category">
        <button type="button" pButton icon="pi pi-bars" label="Danh mục" (click)="categoryMenu.toggle($event)">
        </button>
        <p-tieredMenu #categoryMenu [model]="categoryItems" [popup]="true"></p-tieredMenu>
      </div>
      <div class="header-branch d-flex flex-column align-items-start ms-2" role="button"
           (click)="toggleVisibleChangeBranchDialog(true)"
           pTooltip="{{ branchData?.currentBranch?.address || '' }}" tooltipPosition="bottom">
        <p class="select-branch-title m-0">Chọn chi nhánh</p>
        <div class="branch-dropdown d-flex justify-content-between align-items-center">
          <p class="select-branch-address m-0">{{ branchData?.currentBranch?.address || 'Tất cả' }}</p>
          <i class="pi pi-angle-down"></i>
        </div>
      </div>
    </div>
    <div class="header-center">
      <span class="p-input-icon-right">
        <input type="text" pInputText placeholder="Tìm kiếm" [(ngModel)]="search" />
        <i class="pi pi-search"></i>
      </span>
    </div>
    <div class="header-right d-flex ms-3">
      <div class="header-account me-3" *ngIf="isAccountLoggedIn">
        <button pButton type="button"
                label="Tài khoản"
                icon="pi pi-user" (click)="accountMenu.toggle($event)"></button>
        <p-menu #accountMenu [popup]="true" [model]="accountItems"></p-menu>
      </div>
      <div class="header-account me-3" *ngIf="!isAccountLoggedIn">
        <button pButton type="button" routerLink="/auth/login"
                label="Đăng nhập"
                icon="pi pi-user"></button>
      </div>

      <p-button label="Giỏ hàng" icon="pi pi-shopping-cart" [badge]="cartBadge"
                badgeClass="p-badge-danger" routerLink="/gio-hang">
      </p-button>
    </div>
  </div>
</section>

<!-- Warning dialog when validating to add a new entity type -->
<app-alert [(displayAlert)]="isWarningLogoutVisible" [isDisabled]="false" text="{{ 'Bạn có muốn đăng xuất không?' }}"
            (submit)="logout()" textButton="{{'Có'}}" (close)="hideWarningLogout()" type='verify'>
</app-alert>
