<app-layout [style]="{'background': 'transparent'}">
  <div class="row pb-3">
    <div class="container-fluid col-8">
      <div class="cart-container">
        <div class="list-container p-3">

          <div class="cart-header d-flex flex-column justify-content-between align-items-start mb-2">
            <div class="header-title d-flex align-items-center">
              <p-badge class="me-2" [value]="'1'"></p-badge>
              <span>Giỏ hàng</span>
            </div>
            <div class="header-desc d-flex mt-2">
              <p>{{ cartQuantity }} sản phẩm - {{ totalPrice | VNCurrency }}</p>
              <p class="btn-change-cart ms-2" role="button" routerLink="..">Nhấn để thay đổi</p>
            </div>
          </div>

          <div class="cart-list">
            <p-table [value]="cartItems">
              <ng-template class="list-header" pTemplate="header">
                <tr>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                </tr>
              </ng-template>
              <ng-template class="list-body" pTemplate="body" let-item>
                <tr>
                  <td class="product-thumbnail">
                    <img [src]="item?.imageUrl" alt="">
                  </td>
                  <td>{{ item.price | VNCurrency }}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price * item.quantity | VNCurrency}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="delivery-info-container mt-4 p-3">
          <div class="delivery-info-header d-flex flex-column justify-content-between align-items-start mb-2">
            <div class="header-title d-flex align-items-center">
              <p-badge class="me-2" [value]="'2'"></p-badge>
              <span>Thông tin giao hàng</span>
            </div>
          </div>
          <div class="btn-edit-delivery-info">
            <button type="button" class="btn-buy-more btn btn-outline-primary d-flex mt-4">
              Nhập địa chỉ nhận hàng
            </button>
          </div>
        </div>

        <div class="delivery-method-container mt-4 p-3">
          <div class="delivery-method-header d-flex flex-column justify-content-between align-items-start mb-2">
            <div class="header-title d-flex align-items-center">
              <p-badge class="me-2" [value]="'3'"></p-badge>
              <span>Chọn hình thức giao hàng</span>
            </div>
          </div>
          <div class="delivery-method-tab">
            <p-tabMenu [model]="methodTabItems" [activeItem]="activeMethodTab"></p-tabMenu>
            <ng-container [ngSwitch]="activeMethodTab.id">
              <div class="delivery-method-content d-flex mt-3 ms-3" *ngSwitchCase="'cod'">
                <p>Đơn vị vận chuyển:</p>
                <p class="btn-choice-method ms-2" role="button">Chọn hình thức giao hàng</p>
              </div>
              <div class="delivery-method-content d-flex mt-3 ms-3" *ngSwitchCase="'offline'">
                <p>Địa chỉ nhà thuốc:</p>
                <p class="btn-choice-method ms-2" role="button">Chọn cửa hàng bạn muốn nhận</p>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="payment-method-container mt-4 p-3">
          <div class="payment-header d-flex flex-column justify-content-between align-items-start mb-4">
            <div class="header-title d-flex align-items-center">
              <p-badge class="me-2" [value]="'4'"></p-badge>
              <span>Chọn hình thức thanh toán</span>
            </div>
          </div>

          <div class="btn-payment d-flex align-items-center p-2 ms-3" [ngClass]="{'selected-payment': selectedPaymentMethod === 'CASH'}"
               role="button" (click)="changePaymentMethod('CASH')" >
            <span class="app-icon app-icon-logo-money"></span>
            <span class="payment-content d-flex flex-column ms-3">
              <p>Tiền mặt</p>
              <p class="mt-2">Thanh toán bằng tiền mặt khi nhận hàng</p>
            </span>
          </div>
          <div class="btn-payment d-flex align-items-center ms-3 mt-3 p-2" [ngClass]="{'selected-payment': selectedPaymentMethod === 'VNPAY'}"
               role="button" (click)="changePaymentMethod('VNPAY')">
            <span class="app-icon app-icon-vnpay"></span>
            <span class="payment-content d-flex flex-column ms-3">
              <p>VN Pay</p>
              <p class="mt-2">Thanh toán bằng VN Pay</p>
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid col-4">
      <div class="summary-container p-3">
        <div class="summary-header">
          <p>Tổng tiền</p>
        </div>
        <div class="price-container d-flex justify-content-between align-items-center mt-4">
          <p class="text-price">Tạm tính</p>
          <p class="price">{{ totalPrice | VNCurrency }}</p>
        </div>
        <div class="price-container d-flex justify-content-between align-items-center mt-4">
          <p class="text-price">Thành tiền <span class="text-price-vat">(Đã bao gồm VAT)</span> </p>
          <p class="price total-price">{{ totalPrice | VNCurrency }}</p>
        </div>
        <div class="btn-order d-flex justify-content-center align-items-center mt-3">
          <button type="button" class="col-8 btn-order btn me-3">
            Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</app-layout>
