.color-green{
  color: #64dd17;
}
.color-blue {
  color: #2475cb;
}
.color-gray {
  color: #262222;
}
.color-note {
  color: #9e9e9e;
}
.color-orange {
  color: #ff7201;
}
.color-red {
  color: #ff7201;
}
.background-correct-intent {
  background: $background-icon;
  color: $text;
}
