<app-layout>
  <div class="container-fluid">
    <div class="category-title d-flex align-items-center">
      <span class="app-icon app-icon-pill me-2"></span>
      <span>{{ categoryName }}</span>
    </div>
    <div class="row mt-5">
      <div class="col-3">
        <app-category-filter [categoryId]="categoryId"></app-category-filter>
      </div>
      <div class="col-9">
        <app-product-bestseller [listType]="'slide'" [categoryId]="categoryId"></app-product-bestseller>
        <app-product-highlight [categoryId]="categoryId"></app-product-highlight>
      </div>
    </div>
  </div>
</app-layout>
