@import '../../../../../assets/scss/base/mixins';
@import '../../../../../assets/scss/base/variables';

.body-container {
  background: url("../../../../../assets/images/background.jpg");
  background-size: cover;

  margin: 0;
  padding: 0;
  height: 100%;

  .payment-cart {
    @include rem(padding, 20);
    width: 40%;
    height: 50%;

    border: $border-box;
    border-radius: 15px;
    box-shadow: $box-shadow;
    background: $background-order-success;

    p {
      @include rem(font-size, 20);
      font-weight: 600;

      .vnpay-title {
        color: $text-app;
      }
    }

    .vnpay-info {
      @include rem(padding, 15);
      background: $background-content;
      border: $border-box;
      border-radius: 15px;
      box-shadow: $box-shadow;

      .vnpay-content {
        .label {
          @include rem(font-size, 18);
          color: $text-disabled;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .body-container {
    height: 100vh !important;
  }
}
