realm="Sonatype Nexus Repository Manager"
registry=http://happy-care.vps.ductruong.com/nexus/repository/happy-care-pharmacy/
_auth=YWRtaW46ZHVjdHJ1b25n=
email=minhduc0589@gmail.com
always-auth = true
