@import '../../../../../assets/scss/base/mixins';
@import '../../../../../assets/scss/base/variables';

.slide-container {
  background: linear-gradient(90deg, hsla(136, 48%, 54%, 1) 0%, hsla(58, 99%, 48%, 1) 100%);
  border-radius: 10px;

  .title {
    color: white;
    @include rem(font-size, 20);
    font-weight: 700;
  }

  .product-container {
    img {
      width: 175px;
      height: 120px;
    }

    .card {
      border-radius: 10px;
      border: $border-box;
      min-height: 300px;
      max-height: 300px;
      max-width: 175px;

      .card-name {
        @include rem(font-size, 16);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .card-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .card-price {
        color: #2196f3;
        @include rem(font-size, 18);
        font-weight: 600;
      }
    }
  }
}

.grid-container {
  border-radius: 10px;

  .title {
    color: black;
    @include rem(font-size, 20);
    font-weight: 700;
  }

  .product-container {
    .card {
      border-radius: 10px;
      border: $border-box;
      min-height: 350px;
      max-height: 350px;
      max-width: 225px;

      .card-name {
        @include rem(font-size, 16);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .card-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .card-price {
        color: #2196f3;
        @include rem(font-size, 18);
        font-weight: 600;
      }
    }
  }
}
