@import '../../../../../assets/scss/base/mixins';
@import '../../../../../assets/scss/base/variables';

.slide-container {
  background: linear-gradient(90deg, hsla(136, 48%, 54%, 1) 0%, hsla(58, 99%, 48%, 1) 100%);
  border-radius: 10px;

  .title {
    color: white;
    @include rem(font-size, 20);
    font-weight: 600;
  }

  .product-container {
    .card {
      border-radius: 10px;

      .card-name {
        @include rem(font-size, 16);
        font-weight: 600;
      }

      .card-price {
        color: #2196f3;
        @include rem(font-size, 18);
        font-weight: 600;
      }
    }
  }
}

.grid-container {
  border-radius: 10px;

  .title {
    color: black;
    @include rem(font-size, 20);
    font-weight: 500;
  }

  .product-container {
    .card {
      border-radius: 10px;
      border: $border-box;

      .card-name {
        @include rem(font-size, 16);
        font-weight: 600;
      }

      .card-price {
        color: #2196f3;
        @include rem(font-size, 18);
        font-weight: 600;
      }
    }
  }
}
