$screen-xm: 576px;
$screen-md: 768px;
$screen-hover: 900px;
$screen-hide: 1200px;
/*
  +++++
  text
  +++++
*/
$text: #fff;
$text-app: #2176FF;
$text-price: #2176FF;
$text-highlight: #2176FF;
$text-title: #2a2a2c;
$text-default: #212121;
$text-button: #fff;
$text-note: #9e9e9e;
$text-active: #74bf53;
$text-inactive: #9e9e9e;
$text-disabled: rgb(170, 170, 170);
$text-paginator: #848484;
$text-danger: #EF233C;
$text-warning: #fa624b;
$text-price-highlight: #ff4d6d;

/*
  +++++
  background
  +++++
*/
$background-app: #072d94;
$background-blue: #3366ff;
$background-profile: #ade8f4;
$background-default: #212121;
$background-body: #ffffff;
$background-content: #fff;
$background-button: #eaf1ff;
$background-input-text: #fafafa;
$background-icon: #64dd17;
$hover-row: #ffffff;
$background-warning: #fee0db;
$background-border: #e0e0e0;
$background-box: #f1f1f1;
$background-hover: #ececec;
$background-order: #ff7201;
$background-order-success: #f1faee;
$background-blur: #fff1e6;
$background-alert: #F8333C;
$background-active: #74bf53;
$background-keyword: #eaf2fa;
$background-scroll: #f1f1f1;
$background-scroll-bar: rgba(33, 33, 33, 0.1);
$background-drag: #F4F5F7;
$background-tab: #e6e5e5;
$background-bottom: #f6b33c;
$background-tooltip: #424242;
$background-inactive: #e9e9e9;
$background-btn-order: #feaa48;

@mixin background-app {
  background-blend-mode: overlay, normal;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
  linear-gradient(to bottom, #2475cb, #2475cb);
  background: -webkit-linear-gradient(225deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
  linear-gradient(to bottom, #2475cb, #2475cb);
  background: -ms-linear-gradient(225deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
  linear-gradient(to bottom, #2475cb, #2475cb);
}

/*
  +++++
  border
  +++++
*/
$border-box: 1px solid #e0e0e0;
$border-box-thick: 2px solid #e0e0e0;
$border-danger: 1px solid #ff0000;
$border-hover: 1px solid #333;
$border-icon: 2px solid #fff;
$border-tab: 1px solid #fff;
$border-agent: 1px solid #ff4526;
$border-box-small: 1px solid #2475cb;
$border-positive: 1px solid #74bf53;
$border-negative: 1px solid #fa624b;
$border-accordion: 1px solid #f4f4f4;
/*
  +++++
  use button
  +++++
*/

// button mask
$button-mask: #fff;
$button-mask-hover: #ffffff;
$button-mask-active: #eeeeee;
// button common
$button-common: #fafafa;
$button-common-hover: #ffffff;
$button-common-active: #eee;
// button import
$button-import: #212121;
$button-import-hover: #616161;
$button-import-active: #212121;

/*
  +++++
  box-shadow
  +++++
*/
$box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow-content: 1px 5px 12px -3px rgba(0, 0, 0, 0.175);
$box-shadow-drag: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
