<div class="container-fluid row">
  <div
    class="order-list container-fluid col-6 d-flex flex-column justify-content-start align-items-start p-0">
    <div class="card-order my-3"
      [ngClass]="{'selected-card': i === selectedOrderIndex}"
      role="button"
      (click)="onSelectOrder(order.orderCode)"
      *ngFor="let order of orders; let i=index"
      [style.background]="order.status === 'PROCESSING' ? 'lightyellow'
        : order.status === 'CONFIRMED' ? 'lightBlue'
        : order.status === 'DELIVERING' ? 'orange'
        : order.status === 'SUCCESS' ? 'green'
        : 'red' "
    >
      <p class="d-flex align-content-center ">
        <span class="cart-label me-1">Mã đơn hàng:</span>
        <span class="cart-value">{{ order.orderCode }}</span>
      </p>
      <p class="d-flex align-content-center">
        <span class="cart-label me-1">Loại vận chuyển:</span>
        <span class="cart-value">
                  {{ order.delivery === 'SHIP' ? 'Giao hàng tận nơi' : 'Nhận tại nhà thuốc' }}
                </span>
      </p>
      <p class="d-flex align-content-center">
        <span class="cart-label me-1">Loại thanh toán:</span>
        <span class="cart-value">
                  {{ order.paymentType === 'TRANSFER' ? 'Chuyển khoản' : 'Tiền mặt' }}
                </span>
      </p>
      <p class="d-flex align-content-center">
        <span class="cart-label me-1">Trạng thái:</span>
        <span class="cart-value">
                  {{ transformOrderStatus(order.status) }}
                </span>
      </p>
      <p class="d-flex align-content-center">
        <span class="cart-label me-1">Đơn giá:</span>
        <span class="cart-value">{{ order.totalPrice | VNCurrency }}</span>
      </p>
      <p class="d-flex align-content-center m-0">
        <span class="cart-label me-1">Ngày đặt hàng:</span>
        <span class="cart-value">{{ order.orderDate }}</span>
      </p>
    </div>

    <div *ngIf="isOrderListEmpty" class="no-data d-flex justify-content-center align-items-center">
      <p>Rất tiếc, chưa có lịch sử nào được ghi nhận!</p>
    </div>

    <p-paginator *ngIf="!isOrderListEmpty" [rows]="3" [totalRecords]="totalData" [showFirstLastIcon]="false"
                 (onPageChange)="paginate($event)"></p-paginator>
  </div>

  <div class="col-6 p-0">
    <app-order-history-detail *ngIf="selectedOrderIndex >= 0" [orderId]="orders[selectedOrderIndex].id"></app-order-history-detail>
  </div>

</div>
