@import '../../../../../../assets/scss/base/mixins';
@import '../../../../../../assets/scss/base/variables';

.card-order {
  @include rem(padding, 15);

  min-width: 500px;

  border: $border-box;
  border-radius: 15px;
  box-shadow: $box-shadow;

  .cart-label {
    color: $text-disabled;
    min-width: 110px;
  }

  .cart-value {
    @include rem(font-size, 16);
  }

  &.selected-card {
    background: $background-card-highlight;
  }
}

.no-data {
  height: 200px;

  p {
    @include rem(font-size, 16);
    font-weight: 600;
  }
}

::ng-deep .p-paginator {
  justify-content: flex-start !important;
}
