@import '../../../../../../assets/scss/base/mixins';
@import '../../../../../../assets/scss/base/variables';

.card-detail {
  @include rem(padding, 15);

  background: $background-card-highlight;
  border: $border-box;
  border-radius: 15px;
  box-shadow: $box-shadow;

  .card-title {
    @include rem(font-size, 18);
    font-weight: 700;
  }

  .card-label {
    color: $text-disabled;
    min-width: 110px;
  }

  .card-value {
    @include rem(font-size, 16);
    font-weight: 600;
  }
}
