@import '../../../../../../assets/scss/base/mixins';
@import '../../../../../../assets/scss/base/variables';

.card-detail {
  @include rem(padding, 15);

  background: $background-warning;
  border: $border-box;
  border-radius: 15px;
  box-shadow: $box-shadow;

  .card-title {
    @include rem(font-size, 18);
    font-weight: 700;
  }

  .card-label {
    color: $text-disabled;
    min-width: 110px;
  }

  .card-value {
    @include rem(font-size, 16);
    font-weight: 600;
  }

  .product-container {
    .product-list {
      .product-img {
        width: 75px;
        height: 75px;
      }

      .product-name {
        @include rem(font-size, 18);
        font-weight: 600;
      }

      .product-quantity {
        @include rem(font-size, 16);
      }
    }
  }
}
