<div *ngIf="!!orderHistoryDetail" class="card-detail my-3">
  <p class="card-title">
    Chi tiết đơn đặt hàng
  </p>

  <p class="d-flex align-content-center">
    <span class="card-label me-1">Mã đơn hàng:</span>
    <span class="card-value">{{ orderHistoryDetail.orderCode || 'Không có dữ liệu' }}</span>
  </p>
  <p class="d-flex align-content-center">
    <span class="card-label me-1">Địa chỉ giao hàng:</span>
    <span class="card-value">{{ orderHistoryDetail.userSetting?.address || 'Không có dữ liệu' }}</span>
  </p>
  <div class="product-container d-flex flex-column">
    <p class="card-label me-1">Sản phẩm:</p>
    <div class="product-list d-flex justify-content-between align-items-center mb-2"
         *ngFor="let order of orderHistoryDetail.products; let i=index">
      <div class="d-flex">
        <img class="product-img me-2" [src]="order.product.images[0].url" alt="">
        <div class="d-flex flex-column">
          <p class="product-name me-2">{{ order.product.name }}</p>
          <p class="product-quantity">{{ order.quantity }} sản phẩm</p>
        </div>
      </div>
      <p class="product-price ms-4">{{ order.product.price * order.quantity | VNCurrency }}</p>
    </div>
  </div>

  <button
    *ngIf="orderHistoryDetail.status === 'PROCESSING'"
    type="button"
    class="btn-order btn btn-danger d-flex align-items-center mt-3"
    (click)="onShowCancelOrderPopup()"
  >
    <span class="app-icon app-icon-cancel me-2"></span>
    <span>Huỷ đơn hàng</span>
  </button>

  <app-alert [(displayAlert)]="cancelOrderPopup" [isDisabled]="false"
             textButton="OK"
             text="{{ 'Bạn có chắc chắn huỷ đặt hàng đặt hàng' }}" (submit)="cancelOrder(orderHistoryDetail.id)"
             (close)="onHideCancelOrderPopup()" type='warning'>
  </app-alert>
</div>
