@import '../../../../../assets/scss/base/mixins';
@import '../../../../../assets/scss/base/variables';

.endemic-container {
  background: linear-gradient(270deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);;
  border-radius: 10px;

  .title {
    color: white;
    @include rem(font-size, 18);
  }

  .product-container {
    .card {
      border-radius: 10px;

      .card-name {
        @include rem(font-size, 16);
        font-weight: 600;
      }

      .card-price {
        color: #2196f3;
        @include rem(font-size, 18);
        font-weight: 600;
      }
    }
  }
}
