<app-layout>
  <div class="list-container container-fluid col-12 d-flex flex-column justify-content-center">
    <div class="filter-container d-flex justify-content-between">
      <div class="search-bar p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Tìm kiếm mã đơn hàng" [(ngModel)]="searchKey" />
      </div>
      <div class="filter-bar">
        <button type="button" [ngClass]="{'filter-highlight': selectedOrderTypes.includes('OFFLINE_STORE')}"
                class="btn-filter" (click)="onSelectOrderTypeFilter('OFFLINE_STORE')">
          Giao hàng tận nơi
        </button>
        <button type="button" [ngClass]="{'filter-highlight': selectedOrderTypes.includes('ONLINE_STORE')}"
                class="btn-filter" (click)="onSelectOrderTypeFilter('ONLINE_STORE')">
          Nhận tại nhà thuốc
        </button>
      </div>
    </div>
    <div class="status-tab col-12 mt-2">
      <p-tabMenu [model]="statusTabItems" [activeItem]="activeStatusTab"></p-tabMenu>
      <ng-container [ngSwitch]="activeStatusTab.id" class="d-flex justify-content-start align-content-start">
        <div class="col-12" *ngSwitchCase="'all'">
          <app-order-history-list [orderStatus]="'all'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'PROCESSING'">
          <app-order-history-list [orderStatus]="'PROCESSING'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'CONFIRMED'">
          <app-order-history-list [orderStatus]="'CONFIRMED'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'DELIVERING'">
          <app-order-history-list [orderStatus]="'DELIVERING'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'DELIVERED'">
          <app-order-history-list [orderStatus]="'DELIVERED'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'RECEIVED'">
          <app-order-history-list [orderStatus]="'RECEIVED'">
          </app-order-history-list>
        </div>
        <div class="col-12" *ngSwitchCase="'CANCELED'">
          <app-order-history-list [orderStatus]="'CANCELED'">
          </app-order-history-list>
        </div>
      </ng-container>
    </div>
  </div>

</app-layout>
